body{
    background-image:url(https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: top right;
    background-size:contain;
    background-repeat: no-repeat;
    font-family:Arial, Helvetica, sans-serif;
}